body {
    font-variant: small-caps;
    font-family: sans-serif;
    background-color: rgb(9, 12, 16);
    color: rgb(201, 209, 217);
    border: 1cm solid rgba(0, 0, 0, 0);

}

main {
    margin-top: 2cm;
    padding-top: 0cm;
    padding-bottom: 0.7cm;
    border-color: rgb(5, 6, 8);
    padding-left: 1cm;
    border-style: solid;
    border-radius: 1cm;
    background-color: rgb(5, 6, 8);
}


main h1 {
    font-size:40px;
}

main img {
    border-radius: 0.3cm;
}
body header img {
    width: 4cm;
    height: 4cm;
    margin-right: 0.5cm;
    position:relative;
    top: 0.1cm;
    border-color: rgb(5, 6, 8);
    border-radius: 1cm;
    border-width: 0.5cm;
    border-style: solid;
}

body header h1 {
    border-left: 0.5cm;
    border-color: rgb(5, 6, 8);
    border-left-color: green;
    font-size:40px;
    margin-bottom: 1cm;
    padding-top: 0.7cm;
    padding-bottom: 0.7cm;
    padding-left: 1cm;
    border-style: solid;
    border-left-style: groove;
    border-radius: 1cm;
    background-color: rgb(5, 6, 8);
}

body header h2 {
    border-left: 0.5cm;
    border-color: rgb(5, 6, 8);
    border-left-color: darkred;
    padding-top: 0.7cm;
    padding-bottom: 0.7cm;
    padding-left: 1cm;
    border-style:solid;
    border-left-style: ridge;
    border-radius: 1cm;
    background-color: rgb(5, 6, 8);
}

a {
    color: rgb(88, 166, 255);
}

footer {
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm;
    padding-top: 0.5cm;
    margin-top: 2cm;
    background-color: rgb(5, 6, 8);
    border-radius: 1cm;
    text-align: left;
    padding-right: 1cm;
}

footer table tr th {
    padding-right: 1cm;
}

footer li{
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
}

.links {
    padding-top: 0cm;
    padding-bottom: 0cm;
}