body {
    text-shadow: 0 0 0.4cm red;
    background-image: url("img/BackGround.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode:difference;
    text-size-adjust:inherit 50%;
    font-size: smaller;
    font-variant: small-caps;
    font-family: sans-serif;
    background-color: rgb(5, 5, 5);
    color: rgb(201, 209, 217);
    border: 0.3cm outset rgba(0, 0, 0, 0);
}

main {
    margin-top: 1cm;
    padding-top: 0.2cm;
    padding-bottom: 0.35cm;
    border-color: rgba(14, 3, 3, 0.8);
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    border-style: outset;
    border-radius: 0.4cm;
    background-color: rgba(1, 2, 4, 0.8);
}

.noBorder{
    border-style: none;
}

.dd {
    margin-left: 1cm;
}

main h1 {
    font-size:40px;
}

main img {
    border-style: solid;
    border-radius: 0.3cm;
}
body header img {
    width: 4cm;
    height: 4cm;
    margin-right: 0.5cm;
    position:relative;
    top: 0.1cm;
    border-color: rgba(14, 3, 3, 0.8);
    background-color: rgba(1, 2, 4, 0.8);
    border-radius: 1cm;
    border-width: 0.5cm;
    border-style: outset;
}

body header h1 {
    border-left: 0.5cm;
    border-color: rgba(14, 3, 3, 0.8);
    border-left-color: green;
    font-size:40px;
    margin-bottom: 1cm;
    padding-top: 0.7cm;
    padding-bottom: 0.7cm;
    padding-left: 1cm;
    border-style: outset;
    border-left-style: groove;
    border-radius: 0.4cm;
    background-color: rgba(1, 2, 4, 0.8);
}

body header h2 {
    border-left: 0.5cm;
    border-color: rgba(14, 3, 3, 0.8);
    border-left-color: darkred;
    padding-top: 0.7cm;
    padding-bottom: 0.7cm;
    padding-left: 1cm;
    border-style:outset;
    border-left-style: ridge;
    border-radius: 0.4cm;
    background-color: rgba(1, 2, 4, 0.8);
}

a {
    color: rgb(88, 166, 255);
}

footer {
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-bottom: 0.5cm;
    padding-top: 0.25cm;
    margin-top: 1cm;
    background-color: rgba(1, 2, 4, 0.8);
    border-color: rgba(14, 3, 3, 0.8);
    border-radius: 0.4cm;
    text-align: left;
    border-style: outset;
    padding-right: 0.5cm;

}

footer table tr th {
    text-align: left;
    padding-right: 1cm;
}

footer li{
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
}

.links {
    padding-top: 0cm;
    padding-bottom: 0cm;
}